<div class="container">
    <div class="card text-center">
        <div class="card-header">
            Question : {{ question?.id }}
        </div>
        <div class="card-body">
          <div *ngIf = "!noAnswer">
            <h5 class="card-title">{{ question?.question }}</h5>
            <p class="card-text"><b>Response :</b> {{ question?.reponse }}</p>
          </div>
          <div *ngIf = "noAnswer">
            <h2>No answer yet to this question :(</h2>
          </div>
          <button class="btn btn-danger" routerLink="/home">Back to home</button>
        </div>
        <div class="card-footer text-muted">
        </div>
      </div>
</div>