<div class="container">
    <div class="card text-center">
        <div class="card-header">
            Question {{ question?.id }} : {{ question?.question }}
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text"><b>Response :</b> {{ question?.reponse }}</p>
          <button class="btn btn-danger" routerLink="/home">Back to home</button>
        </div>
        <div class="card-footer text-muted">
        </div>
      </div>
</div>